<ion-header>
  <ion-toolbar text-center>
    <ion-buttons slot="start" defaultHref="/tabs/tab1">
      <!-- Back Button zu Google Maps. Diese Seite bleibt solange in Tab1 geöffnet, bis der Button gedrückt wurde. -->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Murals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <p>Scanne die QR-Codes der Murals, um die passende Detailseite freizuschalten und hier zu sammeln.</p>
  <ion-list>
    <ion-item detail *ngFor="let daten of datenData" (click)="getDatenDetails(daten)"> <!-- *ngIf="daten.boolean === true", damit nur die Details angezeigt werden, die freigeschaltet sind--> 
      <!-- Liste mit Items. Jeder Item ergibt ein Datensatz der durch datenData übergeben wird. Durch Click auf den Button, wird die individuelle Detailseite ausgegeben. Dies hätte genauso gelöst werden können (durch Router und Navextra), wie in ar.page, da dem Tutorial: "https://edupala.com/how-to-add-google-map-in-ionic-4/" gefolgt wurde, wurde jedoch darauf verzichtet. -->
      <ion-icon src="../../../assets/icon/LogoMakr_4zyT32 (1).svg"></ion-icon>{{ daten.title }}
      <!-- Daten der Datenbank  -->
      <br>{{ daten.location.street }}
    </ion-item>
  </ion-list>
</ion-content>

<!-- Diese Seite sollte eine Liste mit allen gescannten (durch den QR-Code) Datensätzen anzeigen. Der Versuch dies zu implemtieren, ist leider nicht gelungen. Daher werden hier nun alle Datensätze angezeigt. -->