<ion-content>
  <ion-card class="qrscancontent">
    <p>In der Nähe jedes Murals findest du ein Schloss mit einem QR-Code:</p>
    <br>
    <ion-img src="../../../assets/icon/qrcode.png"></ion-img>
    <br>
    <p>Bei Scannen eines QR-Codes öffnet sich automatisch deine Kamera mit weiterführenden Informationen und der
      passenden Detailseite. Für das Augemented Reality Erlebnis richte die Kamera auf das Mural.
    </p>
    <ion-button class="qrscan" (click)="ArPage()"> Scan <br>
      <ion-icon name="qr-scanner"></ion-icon>
    </ion-button>
  </ion-card>
</ion-content>

<!-- Component, um die Startseite des QR-Scans anzuzeigen-->