<ion-content>
  <ion-card>
      <p>In der Nähe jedes Murals findest du ein Schloss mit einem QR-Code:</p>
  <br>
  <ion-img src="../../../assets/icon/qrcode.png"></ion-img>
  <br>
  <p>Bei Scannen eines QR-Codes öffnet sich automatisch deine Kamera mit weiterführenden Informationen und der passenden Detailseite.</p>
  <p>Zudem kannst du direkt ein Foto aufnehmen und an all deine Freunden weiterleiten.</p>
  <p> Ziemlich cool oder? </p>
  <ion-button class="qrscan" (click)="ArPage()"> Scan <br> <ion-icon name="qr-scanner"></ion-icon></ion-button>
</ion-card>
</ion-content>

