
ion-title {
    padding-inline-end: 50px;
  }

  ion-content {
    --background: #f1f1f1;
  }

  ion-card {
    font-weight: 300;
    --padding-end: 0px;
    --padding-start: 0px;
    --background: #fffdfd;
    font-size: 15px;
  }

  ion-back-button {
    --color: white;
  }
h2 {
 font-size: 20px;
 font-weight: 400;
}

h3 {
    font-size: 17px;
    font-weight: 400;
}

ion-button {
  text-transform: inherit;
  margin-inline-start: 0px;
  font-size: 13px;

}
