<ion-header>
  <ion-toolbar text-center>
    <ion-buttons slot="start" defaultHref="/tabs/tab2">
      <!-- Backbutton um zur QR-Scan Startseite zurückzukehren. Diese Seite bleibt solange in Tab2 geöffnet, bis dieser Button gedrückt wurde. -->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>AR</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="qrcodeFound">
  <ion-button class="detailseite" (click)="Details()">Detailseite</ion-button>
</ion-content> <!-- Wenn qrcodeFound = true, werden dieser Button mit der Detailseite eingefügt.-->
<ion-content *ngIf="qrcodeFound">
  <!-- Wenn qrcodeFountd= true werden diese HTML-Objekte eingeblendet-->
  <ion-button class="website" (click)="open()">{{selectedQrcode.artist.website}}</ion-button>
  <!--Datenausgabe des Datensatzes in selectedQrcode-->
  <br><br><br><br><br><br><br><br>
  <div class="titel">"{{selectedQrcode.title}}"</div> <!-- ""-->
  <br>
  <div class="artist">{{selectedQrcode.artist.name}}</div>
  <!--"" -->
</ion-content>